@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    };
    a {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
}

@layer components {
    .button {
        @apply px-6 py-2 min-w-2 select-none rounded focus:outline-none font-semibold;
    }
}